@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap");
$main: #1661f1;
$dark: #000;
$white: #fff;
$danger: #c60000;
$label: rgba(0, 0, 0, 0.5);
$footer-para: rgba(255, 255, 255, 0.4);
$radius: 0.7rem;
$radius2: 6.25rem;
$padding-section: 8rem;
$padding-inline: 6rem;
$default-font: "Plus Jakarta Sans", sans-serif;
$fs-header: 3rem;
$fs-secondaryHeader: 2.6rem;
$fs-para: 1.25;
$fs-span: 1rem;
$fs-subHeader: 1.125rem;
$opacity: 0.8;
$border: 0.1rem solid $dark;
$isMobile: 920px;
$isSmMobile: 600px;
$grey-color: #d4d4d4;
$border-grey-color: #ddd;
$sub-grey-color: #f1f5f9;
$blue-color: #005cbb;
$padding-desk: 1.667rem;
$padding-mob: 1rem;
$padding-mob: 1rem;
$border-radius: 12px;
